/* General typography */

body { font-family: "Myriad Prox", "Helvetica Neue", Arial, sans-serif;} 

.reveal h1, 
.reveal h2, 
.reveal h3, 
.reveal h4 { font-family: "Myriad Pro", Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Neue", "Bitstream Vera Sans Bold", "Arial Black", Arial, sans-serif; letter-spacing: -0.03em; font-weight: bold}

.reveal pre, .reveal code { font-family: "Bitstream Vera Sans Mono", "Andale Mono", AndaleMono, Monaco, Courier, monospace; font-weight: bold; letter-spacing: -0.05em}

.reveal q, .reveal quote, .reveal blockquote { font-family: Georgia, serif;}

.reveal blockquote { padding: 20px 40px;}

.reveal p { margin-bottom: 1em;}

.reveal pre code { padding: 0em 1.5em; }

/* Better navigation */

.reveal .controls .left,
.reveal .controls .right,
.reveal .controls .down { top: 55px;}
.reveal .controls .up { top: 25px;}

/* icons */

/* icons neutral */
.icon-cog,
.icon-flag,
.icon-pencil,
.icon-location,
.icon-asterisk,
.icon-help-circle,
.icon-info-circle, 
.reveal section .icon-up,
.reveal section .icon-down,
.reveal section .icon-left,
.reveal section .icon-right { color: #71E9F4;}

/* icons-good */

.icon-ok,
.icon-leaf,
.icon-thumbs-up,
.icon-plus-circle { color: #A8E737; }

/* icons-bad */

.icon-cancel,
.icon-thumbs-down,
.icon-minus-circle { color: #ff6060;}


/* icons-warning */

.icon-attention,
.icon-attention-circle { color: #FFFF00; }

/* icons heart*/
.icon-heart, 
.icon-heart-empty { color: #dd3366;}

